<%= form_for @product do |f| %>
<div class="container">
<div class="simple_form col-sm-6 col-sm-offset-3">  
  <div class="form-group">
    <%= f.label "Nombre" %> <br>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Ingresa el nombre del producto'%>  
  </div>
  <div class="form-group">
    <%= f.label "Descripción" %><br>
    <%= f.text_area :description, class: 'form-control', placeholder: 'Ingresa la descripción del producto' %>
  </div>
  <div class="form-group"">
  <%= f.label "Precio" %> <br>
  <%= f.number_field :price, class: 'form-control', placeholder: 'Ingresa el precio del producto' %>
  </div>  
  <div>
    <%= f.submit class: 'btn btn-success'%>   
  </div>
</div>
  </div>  
<% end %>
